@import './mixins.scss';

.blog_section{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .blog_btn{
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 25px 0;
       div{
           width: 220px;
       }
    }

}   