@import './mixins.scss';

.App{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    
    .center_wrapp{
        height: auto;
        width: 100%;
        max-width: 970px;
        min-width: 200px;
    }
}

