
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

$base-col:#201F1F;
$secBase-col:#616161;
$title-background-col: linear-gradient(to right, #11998e, #38ef7d);

@mixin text_style{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    
}

@mixin header_style{
  
    background: $title-background-col;
    background-clip: text;
    color: transparent;
    
}
@mixin scaffolding {
    border: 0.1px dotted white;
}