@import './mixins.scss';

/* buttons  */


    .soc_btn{
        width: 97%;
        cursor: pointer;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
       
        background: $title-background-col;
        padding: 1px;
        .inner_soc{
            width: 100%;
            height: 100%;
            background: $base-col;
            display: flex;
            justify-content: center;
            align-items: center;    
            svg{
                color: white;
                margin: 0 10px 0 0;
            }
            p{
                @include text_style;
                font-size: 18px;
            }

        }
    }
  

.inner_soc:hover{
    box-shadow: $base-col 0px 30px 60px -12px inset,  #3d71c0 0px 18px 36px -18px inset;
}

@media only screen and (min-width: 660px) {
    
        .soc_btn{
            width: 250px;
            height: 50px;
            
        }
        
    
}