@import './mixins.scss';

.title_outer{

width: 100%;
margin: 20% 0 10% 0;

.title_inner{
    margin: 50px 0 0 0;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    h1{
        font-size: 16px;
        @include text_style;
        font-weight: 200;
        margin: 0 0 0 10px;
        align-self: start;
    }
    h2{
        @include header_style;
        font-weight: 200;
        font-size: 14vw;
        margin: 0;
      
    }
    .description_box{
        width: 92%;
        align-self: center;
        text-align: justify;
        padding: 0 5px 0 5px;
        p{
            @include text_style;
            font-size: 3.5vw;
        }

     }

     


    }
}
@media only screen and (min-width: 660px) {
    .title_outer{

        height: auto;
        .title_inner{
           
            h1{
                font-size: 16px;
            }
            h2{
              font-size: 96px;
              align-self: flex-start;  
            }
            .description_box{
                width: 100%;
                align-self: start;
                text-align: left;
                p{
                    font-size: 17px;
                }
            }
            .soc_buttons{
                margin: 150px 0 0 0;
                width: 100%;
                height: 55px;
                justify-content: flex-start;
                flex-direction: row;
                .soc_btn{
                    width: 250px;
                }
                
            }
        }
        }
}